*{
  margin: 0;
  padding: 0;
}
nav{
  background-color: #FF1744;
  text-align: center;
}
nav ul li {
  display: inline-block;
  list-style: none;
}
nav ul li a{
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-size: 22px;
}
.active{
  background-color: blueviolet;
}
main
{
  background-color: green;
  width: 1200px;
  height: 1230px;
  margin: 40px auto 0px 50px;
}
main article
{
  width: 300px;
  height: 280px;
  background-color: black;
  display: inline-block;
  margin: 61px -80px 0px 110px;
}
main article section
{
  width: 270px;
  height: 260px;
  background-color: white;
  display: inline-block;
  border-radius: 50%;
  margin: 7px 0px 0px 16px;
}
main div
{
  width: 200px;
  height: 200px;
  background-color: gray;
  display: inline-block;
  margin: 60px -266px 0px 310px;
}
main div section
{
  width: 177px;
  height: 174px;
  background-color: red;
  display: inline-block;
  border-radius: 50%;
  margin: 10px 0px 0px 15px;
}
main aside 
{
  width: 845px;
  height: 450px;
  background-color: yellow;
  margin: 50px -144px 0px 120px;
}
main aside div 
{
  width: 200px;
  height: 348px;
  background-color: rgba(255, 94, 0, 0.95);
  display: inline-block;
  margin: 61px -80px 0px 110px;
}
main aside div section
{
  width: 90px;
  height: 93px;
  background-color: gray;
  border-radius: 0%;
  margin: 20px 20px 0px 55px;
}
main aside div nav
{
  width: 104px;
  height: 285px;
  border-radius: 54%;
  margin: 22px 20px 0px 55px;
}
main aside div footer
{
  width: 86px;
  height: 82px;
  background-color: aqua;
  border-radius: 50%;
  margin: 20px 20px 0px 65px; 
}
section
{
  background-color: red;
  width: 1200px;
  height: 1501px;
  margin: 40px auto 0px 50px;
}
section aside
{
  width: 555px;
  height: 475px;
  background-color: green;
  display: inline-block;
  margin: 49px -10px 0px 31px;
}
section aside div
{
  width: 237px;
  height: 217px;
  background-color: #0400FF;
  display: inline-block;
  border-radius: 50%;
  margin: 15px -17px -10px 31px;
}
section main
{
  width: 596px;
  height: 325px;
  background-color: black;
  margin: 75px 0px 0px 304px;
}
section main nav
{
  width: 269px;
  height: 269px;
  background-color: white;
  display: inline-block;
  border-radius: 50%;
  margin: 28px -23px -10px 31px;
}
section footer
{
  width: 1142px;
  height: 469px;
  margin: 75px 0px 0px 34px;
}
section footer a
{
  background-color: #00B7FF;
  width: 223px;
  height: 364px;
  display: inline-block;
  margin: 50px 1px 0px 21px;
}
section footer a div
{
  width: 202px;
  height: 320px;
  background-color: yellow;
  border-radius: 45%;
  margin: 21px 0px 0px 11px;
}
section footer div
{
  background-color: #E100FF;
  width: 343px;
  height: 337px;
  display: inline-block;
  margin: 0px 0px 0px 15px;
}
section footer div article
{
  background-color: #913143;
  width: 139px;
  height: 148px;
  border-radius: 50%;
  display: inline-block;  
  margin: 9px 10px -4px 19px;
}
article
{
  background-color: #00FFEA;
  width: 1200px;
  height: 1501px;
  margin: 40px auto 0px 50px;
}
article nav
{
  background-color: black;
  width: 548px;
  height: 522px;
  display: inline-block;  
  margin: 29px -3px 0px 34px;
}
article nav aside
{
  background-color: white;
  width: 518px;
  height: 484px;
  display: inline-block;  
  margin: 15px 130px 0px 15px;
}
article nav aside main
{
  background-color: yellow;
  width: 468px;
  height: 443px;
  display: inline-block;
  margin: 24px 20px 20px 20px;
}
article nav aside main section
{
  background-color: #15FF00;
  width: 132px;
  height: 193px;
  display: inline-block;
  border-radius: 50%;
  margin: 14px 4px 11px 15px;
}
article nav aside main footer
{
  background-color: blue;
  width: 136px;
  height: 181px;
  display: inline-block;
  margin: 10px 10px 10px 10px;
}
article nav aside main div
{
  background-color: blueviolet;
  width: 100px;
  height: 197px;
  display: inline-block;
  border-radius: 50%;
  margin: 10px 10px 10px 10px;
}
article main
{
  background-color:black;
  width: 1131px;
  height: 500px;
  margin: 10px 10px 10px 34px;
  display: inline-block;
}
article main footer
{
  background-color: white;
  width: 1106px;
  height: 479px;
  margin: 10px 10px 10px 10px;
  display: inline-block;
}
article main footer div
{
  
}